*{
	margin: 0;
	padding: 0;
}

.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	transition: opacity 1s ease-in-out; 
	opacity: 1; 
}

.loader {
	--size: 40px;
	display: flex;
	gap: 0.6rem;
}

.box {
	width: var(--size);
	height: var(--size);
	background: #0270e1;
	animation: rotate 2s infinite;
}

.box:nth-child(2) {
	animation-delay: 0.25s;
}

.box:nth-child(3) {
	animation-delay: 0.5s;
}

@keyframes rotate {
	50% {
		transform: rotate(180deg)
	}
}

@keyframes animate {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translate Y(20);
	}
	100% {
		transform: translateY(0);
	}
}

.container{
	transition: opacity 0.1s ease-in-out;
	width: 100%;
	height: 108vh;
	background-image: url();
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: 3%;
	padding-right: 3%;
	box-sizing: border-box;
}
.header{
	height: 15;
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.logo{
	width: 120px;
	height: 100px;
	cursor: pointer;
}

.website-name{
	margin: 0 0 0 10px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	margin-left: 10px;
	padding-left: 10px;
}

.path{
	color: yellow;
}


.navbar{
	text-align: center;
	flex: 1;
}

.navbar a{
	padding:60px 20px;
	text-decoration: none;
	color: white;
	padding-left: 25px;
	margin-left: 30px;
	font-size: 30px;
	font-weight: bold;
}

.active-page {
	padding: 5px;
}

.about-page .title {
	text-align: left;
	margin-top: 100px;
	margin-left: 220px;
	font-size: 50px;
}

.about-page .subtitle {
	text-align: left;
	margin-top: 5px;
	margin-left: 222px;
	font-size: 25px;
}

.home-bg {
	background-image: url('pathbackground.jpg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: none;
	min-height: 100vh;
}

.about-bg {
	background-image: url('roar.jpeg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-image 1s ease-in-out;
	min-height: 100vh;
}

.courses-bg {
	background-image: url('cti.jpg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-image 1s ease-in-out;
	min-height: 100vh;
}

.careers-bg {
	background-image: url('photoct.jpeg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-image 1s ease-in-out;
	min-height: 100vh;
}

.application-bg {
	background-image: url('hde.jpg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-image 1s ease-in-out;
	min-height: 100vh;
}

.contacts-bg {
	background-image: url('keyyy.jpg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-image 1s ease-in-out;
	min-height: 100vh;
}

.navbar a:not(.active) {
    color: white;
}
.navbar a:active, .navbar a.active {
    color: yellow;
}


.title{
	text-align: left;
	margin-top: 250px;
	margin-left: 100px;
	font-size: 120px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.subtitle{
	text-align: left;
	margin-top: -20px;
	margin-left: 112px;
	font-size: 35px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.path{
	color: yellow;
}

p {
	font-family: Times New Roman, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 26px;
}

.titleabout {
	text-align: left;
	font-family: Times New Roman;
	color: white;
	font-weight: bold;
	font-size: 46px;
	padding-top: 35px;
}

.missionone {
	text-align: left;
	font-family: Times New Roman;
	color: white;
	font-weight: bold;
	font-size: 46px;
	padding-top: 100px;
}

.visionone {
	text-align: left;
	font-family: Times New Roman;
	color: white;
	font-weight: bold;
	font-size: 46px;
	padding-top: 100px;
}


.imageone-container {
	float: right;
	margin-left: 5px;
	margin-right: 50px; 
	margin-bottom: 100px;
	margin-top: -100px;
	padding-top: 27px;
}

.img-one {
	width: 700px;
	height: 500px;
	margin-right: 0; 
	padding: 10px;
}

