* {
    margin: 0;
    padding: 0;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    --size: 40px;
    display: flex;
    gap: 0.6rem;
}

.box {
    width: var(--size);
    height: var(--size);
    background: #0270e1;
    animation: rotate 2s infinite;
}

.box:nth-child(2) {
    animation-delay: 0.25s;
}

.box:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
}

.container {
    width: 100%;
    height: 105vh;
    background-image: url(pathbackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.container.hidden {
    opacity: 1;
}

.header {
    height: 15vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.logo {
    width: 120px;
    height: 100px;
    cursor: pointer;
}

.navbar {
    text-align: left;
    flex: 1;
}

.navbar a {
    padding:6px 20px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 28px;
    font-weight: bold;
}

.title {
    text-align: left;
    margin-top: 200px;
    margin-left: 100px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000
}

.subtitle{
	text-align: left;
	margin-top: -20px;
	margin-left: 112px;
	font-size: 35px;
	font-weight: bold;
	color: white;
}

.path{
	color: yellow;
}
