*{
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

body.transition {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

body.visible {
	opacity: 1;
}

.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	transition: opacity 1s ease-in-out; 
	opacity: 1; 
}

.loader {
	--size: 40px;
	display: flex;
	gap: 0.6rem;
}

.box {
	width: var(--size);
	height: var(--size);
	background: #0270e1;
	animation: rotate 2s infinite;
}

.box:nth-child(2) {
	animation-delay: 0.25s;
}

.box:nth-child(3) {
	animation-delay: 0.5s;
}

@keyframes rotate {
	50% {
		transform: rotate(180deg)
	}
}

@keyframes animate {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translate Y(20);
	}
	100% {
		transform: translateY(0);
	}
}

.container{
	transition: opacity 0.1s ease-in-out;
	width: 100%;
	height: 108vh;
	background-image: url();
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: 3%;
	padding-right: 3%;
	box-sizing: border-box;
}
.header{
	height: 15;
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.logo{
	width: 120px;
	height: 100px;
	cursor: pointer;
}

.website-name{
	margin: 0 0 0 10px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	margin-left: 10px;
	padding-left: 10px;
}

.path{
	color: yellow;
}


.navbar{
	text-align: center;
	flex: 1;
}

.navbar a{
	padding:60px 20px;
	text-decoration: none;
	color: white;
	padding-left: 25px;
	margin-left: 30px;
	font-size: 30px;
	font-weight: bold;
}

.active-page {
	padding: 5px;
}

.about-page .title {
	text-align: left;
	margin-top: 100px;
	margin-left: 220px;
	font-size: 50px;
}

.about-page .subtitle {
	text-align: left;
	margin-top: 5px;
	margin-left: 222px;
	font-size: 25px;
}

.home-bg {
	background-image: url('tempbg.jpg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: none;
	min-height: 100vh;
}

.about-bg {
	background-image: url('barkin.jpg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-image 1s ease-in-out;
	min-height: 100vh;
}

.courses-bg {
	background-image: url('bbg.jpg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-image 1s ease-in-out;
	min-height: 100vh;
}

.careers-bg {
	background-image: url('photoct.jpeg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-image 1s ease-in-out;
	min-height: 100vh;
}

.application-bg {
	background-image: url('hde.jpg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-image 1s ease-in-out;
	min-height: 100vh;
}

.contacts-bg {
	background-image: url('keyyy.jpg') !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-image 1s ease-in-out;
	min-height: 100vh;
}

.navbar a:not(.active) {
    color: white;
}
.navbar a:active, .navbar a.active {
    color: yellow;
}


.title{
	text-align: left;
	margin-top: 250px;
	margin-left: 100px;
	font-size: 120px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.subtitle{
	text-align: left;
	margin-top: -20px;
	margin-left: 112px;
	font-size: 35px;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.path{
	color: yellow;
}

p {
	font-family: Times New Roman, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 26px;
}

.titleabout {
	text-align: left;
	font-family: Times New Roman;
	color: white;
	font-weight: bold;
	font-size: 46px;
	padding-top: 35px;
}

.missionone {
	text-align: left;
	font-family: Times New Roman;
	color: white;
	font-weight: bold;
	font-size: 46px;
	padding-top: 100px;
}

.visionone {
	text-align: left;
	font-family: Times New Roman;
	color: white;
	font-weight: bold;
	font-size: 46px;
	padding-top: 100px;
}


.imageone-container {
	float: right;
	margin-left: 5px;
	margin-right: 50px; 
	margin-bottom: 100px;
	margin-top: -100px;
	padding-top: 27px;
}

.img-one {
	width: 700px;
	height: 500px;
	margin-right: 0; 
	padding: 10px;
}

.titlecourse {
	text-align: left;
	font-family: Times New Roman;
	color: white;
	font-weight: bold;
	font-size: 46px;
	padding-top: 35px;
}

.imagetwo-container {
	float: right;
	margin-left: 5px;
	margin-right: 50px; 
	margin-bottom: 100px;
	margin-top: -100px;
	padding-top: 27px;

}

.img-two {
  width: 700px;
  height: 400px;
  margin-top: -130px;
  margin-right: 0;
  padding: 70px;
  float: right;
  display: block;
}

.parent-container {
  display: flex;
  justify-content: space-between;
}

.imgcone-container {
  display: flex;
  flex-direction: column;
}

.imgco-one {
  width: 400px;
  height: 250px;
  margin-top: -300px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: 100px;
  
}

.imgco-one + p {
  margin-top: -25px;
  margin-left: 100px;
  width: 400px;
  text-align: center;
  background-color: black;
  border-radius: 7px;
}

.imgctwo-container {
  display: flex;
  flex-direction: column;
}

.imgco-two {
  width: 400px;
  height: 250px;
  margin-top: -300px;
  margin-right: 700px;
  margin-bottom: 25px;
  margin-left: 180px;
}

.imgco-two + p {
  margin-top: -25px;
  margin-right: -70px;
  margin-left: 180px;
  width: 400px;
  text-align: center;
  background-color: black;
  border-radius: 7px;
}

.imgcthree-container {
  display: flex;
  flex-direction: column;
}

.imgco-three {
  width: 400px;
  height: 250px;
  margin-top: -300px;
  margin-right: 1000px;
  margin-bottom: 25px;
  margin-left: -500px;
}

.imgco-three + p {
  margin-top: -25px;
  margin-right: 1000px;
  margin-left: -500px;
  width: 400px;
  text-align: center;
  background-color: black;
  border-radius: 7px;
}

.imgcfour-container {
  display: flex;
  flex-direction: column;
}

.imgco-four {
  width: 400px;
  height: 250px;
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: -2580px;
  
}

.imgco-four + p {
  margin-top: -25px;
  margin-left: -2580px;
  width: 400px;
  text-align: center;
  background-color: black;
  border-radius: 7px;
}

.imgcfive-container {
  display: flex;
  flex-direction: column;
}

.imgco-five {
  width: 400px;
  height: 250px;
  margin-top: -280px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: -2000px;
  
}

.imgco-five + p {
  margin-top: -25px;
  margin-left: -2000px;
  width: 400px;
  text-align: center;
  background-color: black;
  border-radius: 7px;
}

.imgcsix-container {
  display: flex;
  flex-direction: column;
}

.imgco-six {
  width: 400px;
  height: 250px;
  margin-top: -280px;
  margin-right: 200px;
  margin-bottom: 25px;
  margin-left: -1400px;
  
}

.imgco-six + p {
  margin-top: -25px;
  margin-left: -1400px;
  width: 400px;
  text-align: center;
  background-color: black;
  border-radius: 7px;
}

.imgcseven-container {
  display: flex;
  flex-direction: column;
}

.imgco-seven {
  width: 400px;
  height: 250px;
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: -2580px;
  
}

.imgco-seven + p {
  margin-top: -25px;
  margin-left: -2580px;
  width: 400px;
  text-align: center;
  background-color: black;
  border-radius: 7px;
}

.imgceight-container {
  display: flex;
  flex-direction: column;
}

.imgco-eight {
  width: 400px;
  height: 250px;
  margin-top: -280px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: -2000px;
  
}

.imgco-eight + p {
  margin-top: -25px;
  margin-left: -2000px;
  width: 400px;
  text-align: center;
  background-color: black;
  border-radius: 7px;
}

.imgcnine-container {
  display: flex;
  flex-direction: column;
}

.imgco-nine {
  width: 400px;
  height: 250px;
  margin-top: -280px;
  margin-right: 200px;
  margin-bottom: 25px;
  margin-left: -1400px;
  
}

.imgco-nine + p {
  margin-top: -25px;
  margin-left: -1400px;
  width: 400px;
  text-align: center;
  background-color: black;
  border-radius: 7px;
}

.careers-title {
	padding-top: 100px;
	margin-top: 40px;
	font-size: 46px;
	color: white;
	font-weight: bold;
	background: black;
	display: block;
	padding: 0px;
	margin-bottom: 0px;
}

.careers-image {
	position: absolute;
	top: -50px;
	left: 0;
	width: 40%;
	height: 45%;
	padding-right: 50px;
	margin-left: 70px;
	margin-right: 50px;
	padding-top: -800px;
	margin-top: 300px;
}

.careers-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 200px;
	margin-top: -750px;
	background: black;
	width: 84%;
	padding: 10px;
}

.careers-text {
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 0;
}

.unocareers-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 950px;
	margin-top: -20px;
	background: none;
	padding: 20px;
}

.unocareers-text {
	font-size: 20px;
	font-weight: bold;
	color: yellow;
	text-align: center;
	margin: 0;
}



